pandas~=2.3.3
scipy==1.16.3
numpy==2.2.3
transformers==4.56.1
pillow==11.1.0
opencv-python==4.12.0
moviepy==1.0.3
scikit-learn==1.6.1
shapely==2.1.2
geopandas==1.1.1
statsmodels==0.14.5
matplotlib~=3.10.7
seaborn==0.13.2
google-genai==1.41.0
pydantic==2.11.10
neurokit2~=0.2.10
pyxdf~=1.17.1
pingouin~=0.5.5